@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-left: 20px;
    padding-right: 50px;
    width: 100%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    z-index: 999;
}
header i{
    font-size: 1.5rem;
    cursor: pointer;
}
.menubar a{
    font-size: 1.2rem;
    padding-left: 10px;
    color: #ffffff;
}
.menubar a:hover{
    text-shadow: 0 0 1rem #09ff00;
}
header .fa-bars:hover{
    text-shadow: 0 0 1rem #09ff00;
}

main{
    width: 100%;
    height: 100vh;
    background-image: url("/img/1657753132479.jpg");
    background-size: contain;
    background-position: center;
}
.maintext{
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -5px;
    text-shadow: 0 0 2rem rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #000000; 
    color: #ffffff;
    cursor: default;
}
.menuside{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -400px;
    position: fixed;
    top: 0;
    width: 400px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 1rem #000000;
    transition: .5s;
    z-index: 9999;
}
.opnemenubar{
    left: 0px;
}
.menuside .fa-xmark{
    position: relative;
    left: 170px;
    padding: 10px 20px;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
}
.menuside .fa-xmark:hover{
    text-shadow: 0 0 1rem #ff0000;
}
.sidetext{
    font-size: 0.7rem;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: default;
}
.profileimg{
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}
.profileimg img{
    width: 50%;
    border-radius: 100%;
}
.sideicon{
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff;
    border-radius: 5px;
}
.sideicon i{
    font-size: 1.5rem;
    margin: 5px 0;
    color: #ffffff;
    transition: .3s;
}
.sideicon i:hover{
    color: #bdbdbd;
}



.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(/img/6063741-grass-field-soccer-ball.jpg);
    background-size: cover;
}
.boxaboutme{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 940px;
    height: 500px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    overflow: hidden;
}

.boxaboutme h1{
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 0 0 1rem #000000;
}
.boxaboutme h2{
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 0 0 1rem #000000;
}
.boxaboutme p{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #ffffff;
}
.imgabout{
    width: 100%;
    border-radius: 100%;
    box-shadow: 40px -10px 3rem #00ff2a;
    overflow: hidden;
}
.imgabout img{
    width: 100%;
}


.photo{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    height: 100vh;
    background-color: #000000;
    padding: 40px 70px;
}
.imgme{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: red;
    overflow: hidden;
    border-radius: 15px;
    transition: .4s;
}
.imgme img{
    width: 100%;
}
.imgme:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.skill{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
    background-image: url(/img/6063741-grass-field-soccer-ball.jpg);
    background-size: cover;
}
.skill h1{
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #ffffff;
    text-shadow:  0 0 1.5rem #000000;
}
.fa-circle-play{
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: #ffffff;
    cursor: pointer;
}
.fa-circle-play:hover{
    text-shadow: 0 0 1rem #09ff00;
}
.video-player{
    display: none;
    position: absolute;
    top: 52.5%;
    left: 52.9%;
    transform: translate(-50%,-50%);
}
video:focus{
    outline: none;
}
.stopvideo{
    position: absolute;
    font-size: 2rem;
    top: 2.5%;
    right: 20%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    cursor: pointer;
}
.stopvideo:hover{
    text-shadow: 0 0 1rem #ff0000;
}


footer{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color: #ffffff;
    cursor: default;
}

::-webkit-scrollbar{
    width: 9px;
 }
 ::-webkit-scrollbar-track{
    background-color: #fff;
 }
 ::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0,0.9);
    border-radius: 5px;
 }